@media (max-width:1000px){
   
    #mainPage .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 100%;
        margin: 0;
        margin-top: 70px;
        overflow: hidden;
    }
    #mainPage .content > *:not(.image ) {
        width: 100%; 
        box-sizing: border-box; 
        margin: 10px 0; 
    }
    #mainPage .content h1 {
        font-size: 35px;
    }
 
    #mainPage .content p {
        font-size: 20px;
        

    }
    .allProjects ul {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .allProjects ul li{
        width: 100%;
display: flex;
justify-content: center;    }
    .about .content{
        flex-direction: column;

    }
    .form {
        width: 50%;
    }
    .skillsWithLogo  ul{
        flex-direction: column;
        align-items: center;
    
    }
    .frontendSkills  , .bakendSkills ,.generalSkills {
        width: 500px;
        height: 180px;
        box-sizing: border-box;
    }
    .frontPersantage{
        width: 500px;

    }
    .frontendSkills ul  , .bakendSkills ul,.generalSkills ul{
display: flex;
gap: 5px;
flex-direction: row;
    }

}
@media (max-width:700px){
    #mainPage nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0 ;
}
#mainPage .content{
    margin-top: 100px;
}
.logo{
    margin:8px 0;
}
.logo img {
    width: 30px;
    height: 30px;
}


.form {
    width: 80%;
}
   
}
@media (max-width:620px){
    #mainPage .image {
       display: flex;
       justify-content: center;
    }
  
    .resume button{
        width: 50%;
    }
   .resume button a{
       font-size: 14px;
       padding: 3px ;

       
}
.resume button {
    padding: 15px;
}
#mainPage .content h1 {
    font-size: 24px;
}
#mainPage .content p {
    font-size: 16px;
}
#mainPage .image img {
    width: 85%;
}
.form {
    width: 90%;
}
   
}
@media (max-width:560px){
    .frontendSkills  , .bakendSkills ,.generalSkills {
        width: 360px;
        height: 160px;
        box-sizing: border-box;
    }
    .frontPersantage{
        width: 360px;

    }
}
@media (max-width:540px){
    .social-media {
        justify-content: center;
        height: 100%;
        
    }
}
@media (max-width:475px){
    .form {
        width: 100%;
    }
    #mainPage nav li {
     font-size: 14px;
    
    }
}
@media (max-width:410px){
    .frontendSkills  , .bakendSkills ,.generalSkills {
        width:250px;
        height: 250px;
        box-sizing: border-box;
    }
    .frontendSkills ul  , .bakendSkills ul,.generalSkills ul{
        flex-wrap: wrap;
    }
    .frontPersantage{
        width: 250px;

    }
    
}